<div class="container">
  <br> <br>
  <img src="../../../assets/img/morfarlogo.png" class="img-fluid" alt="Responsive image">
  <br> <br> <br>
  <p class="text-left">morf.AR es una idea de dos estudiantes de sistemas de la FCyT UADER, Alexis Morisón y Mona Gobbi, que surgió como propuesta de la Cátedra de Programación Avanzada para la resolución de un trabajo práctico.</p>

  <p class="text-left">La problemática a resolver era crear una página web donde los potenciales clientes, de diversos restaurantes, pudieran buscar qué local respondía mejor a sus preferencias gastronómicas. 
      Debía ser desarrollado en Angular e incorporar temas tratados en la materia como: NgFor, NgIf, buscador, servicios y rutas.
      </p>
  
  <p class="text-left">La página morf.AR te permite buscar lo que deseás comer, de entre diversos restaurantes porteños, que formaron parte de la vida de uno de los miembros del equipo desarrollador.</p>

  <p class="text-left">El website te proporciona una pequeña reseña de cada uno de los restós, por si no los conocés, para que te ayude a elegir el que más se adecúe a tus gustos.</p>

</div>
