
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <img src="../../../assets/img/morfarlogo.png" class="img-fluid" alt="Responsive image">

      <a class="navbar-brand" href="#">
        <img src="" width="30" height="30" alt="">
      </a>

      <!-- active -->
      <li class="nav-item" routerLinkActive="active">
        <!-- <button type="button" class="btn btn-danger" routerLink="/home">Inicio</button> -->
        <a class="nav-link" routerLink="/home"><h5>Inicio</h5></a>
      </li>

      <li class="nav-item" routerLinkActive="active">
        <!-- <button type="button" class="btn btn-danger" routerLink="/about">Acerca de</button> -->
        <a class="nav-link" routerLink="/about"><h5>Acerca de</h5></a>
      </li>

    </ul>

  </div>
</nav>
